<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>ffffff</string>
    <string>e2e2e2</string>
    <string>c6c6c6</string>
    <string>aaaaaa</string>
    <string>8e8e8e</string>
    <string>707070</string>
    <string>545454</string>
    <string>383838</string>
    <string>1c1c1c</string>
    <string>000000</string>
    <string>d8fff8</string>
    <string>91ffec</string>
    <string>49ffe0</string>
    <string>00ffd4</string>
    <string>00d8b4</string>
    <string>00b799</string>
    <string>00967d</string>
    <string>007561</string>
    <string>005446</string>
    <string>00332a</string>
    <string>d8ffeb</string>
    <string>a3ffd1</string>
    <string>6dffb6</string>
    <string>38ff9b</string>
    <string>00ff7f</string>
    <string>00d369</string>
    <string>00a854</string>
    <string>007c3e</string>
    <string>005446</string>
    <string>002613</string>
    <string>d8ffd8</string>
    <string>a3ffa3</string>
    <string>6dff6d</string>
    <string>38ff38</string>
    <string>00ff00</string>
    <string>00d600</string>
    <string>00ad00</string>
    <string>008400</string>
    <string>005b00</string>
    <string>003300</string>
    <string>ebffd8</string>
    <string>d1ffa3</string>
    <string>b6ff6d</string>
    <string>9bff38</string>
    <string>7fff00</string>
    <string>6cd800</string>
    <string>59b200</string>
    <string>468c00</string>
    <string>336600</string>
    <string>1f3f00</string>
    <string>ffffd8</string>
    <string>ffff91</string>
    <string>ffff49</string>
    <string>ffff00</string>
    <string>d8d800</string>
    <string>b7b700</string>
    <string>969600</string>
    <string>757500</string>
    <string>545400</string>
    <string>333300</string>
    <string>fff5d8</string>
    <string>ffeaad</string>
    <string>ffdf82</string>
    <string>ffd456</string>
    <string>ffca2b</string>
    <string>ffbf00</string>
    <string>cc9900</string>
    <string>997200</string>
    <string>664c00</string>
    <string>332600</string>
    <string>ffebd8</string>
    <string>ffd6ad</string>
    <string>ffc082</string>
    <string>ffaa56</string>
    <string>ff952b</string>
    <string>ff7f00</string>
    <string>d16800</string>
    <string>a05000</string>
    <string>703800</string>
    <string>3f1f00</string>
    <string>ffe2d8</string>
    <string>ffc1ad</string>
    <string>ffa182</string>
    <string>ff8056</string>
    <string>ff602b</string>
    <string>ff3f00</string>
    <string>d63500</string>
    <string>a82a00</string>
    <string>7a1e00</string>
    <string>4c1300</string>
    <string>ffd8d8</string>
    <string>ffadad</string>
    <string>ff8282</string>
    <string>ff5656</string>
    <string>ff2b2b</string>
    <string>ff0000</string>
    <string>d10000</string>
    <string>a00000</string>
    <string>700000</string>
    <string>3f0000</string>
    <string>ffd8eb</string>
    <string>ffadd6</string>
    <string>ff82c0</string>
    <string>ff56aa</string>
    <string>ff2b95</string>
    <string>ff007f</string>
    <string>cc0066</string>
    <string>99004c</string>
    <string>660033</string>
    <string>330019</string>
    <string>ffd8ff</string>
    <string>ffa3ff</string>
    <string>ff6dff</string>
    <string>ff38ff</string>
    <string>ff00ff</string>
    <string>d600d6</string>
    <string>ad00ad</string>
    <string>840084</string>
    <string>5b005b</string>
    <string>330033</string>
    <string>ebd8ff</string>
    <string>d6adff</string>
    <string>c082ff</string>
    <string>aa56ff</string>
    <string>952bff</string>
    <string>7f00ff</string>
    <string>6600cc</string>
    <string>4c0099</string>
    <string>330066</string>
    <string>190033</string>
    <string>d8d8ff</string>
    <string>adadff</string>
    <string>8282ff</string>
    <string>5656ff</string>
    <string>2b2bff</string>
    <string>0000ff</string>
    <string>0000d1</string>
    <string>0000a0</string>
    <string>000070</string>
    <string>00003f</string>
    <string>d8e5ff</string>
    <string>adc8ff</string>
    <string>82abff</string>
    <string>568eff</string>
    <string>2b71ff</string>
    <string>0055ff</string>
    <string>0044cc</string>
    <string>003399</string>
    <string>002266</string>
    <string>001133</string>
    <string>d8f2ff</string>
    <string>a3e0ff</string>
    <string>6dceff</string>
    <string>38bcff</string>
    <string>00a9ff</string>
    <string>008ed6</string>
    <string>0073ad</string>
    <string>005884</string>
    <string>003d5b</string>
    <string>002133</string>
</array>
</plist>